<template lang="html">
    <div class="size-example">
        <vs-input size="large" placeholder="Size large" v-model="value1" />
    </div>
</template>

<script>
    export default {
        data(){
            return {
                value1:''
            }
        }
    }
</script>

<style lang="stylus">
    .size-example
        .vs-input
            margin 6px;
</style>
