<template>
    <div class="left-bloc">
        <vs-row vs-justify="space-around">
            <vs-col type="flex" vs-justify="space-around" vs-align="center" vs-lg="3" vs-sm="6" vs-xs="10">
                <img class="center-img" :src="require('@/assets/logo-relaxmax-white.png')" alt="RelaxMAX logo">
                <div class="title">
                    <h1>Connexion</h1>
                </div>
                <vs-card>
                    <div slot="header">
                        <h4>Connexion avec</h4>
                    </div>
                    <vs-row vs-justify="center">
                        <vs-avatar color="white" :src="require('@/assets/logo_google.png')"/>
                        <vs-avatar color="white" :src="require('@/assets/logo_apple.png')"/>
                        <vs-avatar color="white" :src="require('@/assets/logo_slack.png')"/>
                        <vs-avatar color="white" :src="require('@/assets/logo_atlassian.png')"/>
                    </vs-row>
                </vs-card>
                <vs-card>
                    <div>
                        <vs-row vs-justify="center">
                            <vs-input class="field" size="large" label-placeholder="Adresse mail" v-model="username"/>
                            <vs-input class="field" size="large" label-placeholder="Mot de passe" v-model="password" type="password"/>
                            <vs-row vs-justify="center">
                                <vs-button line-origin="right" color="dark" type="line" class="forget-password">mot de passe oublié ?</vs-button>
                            </vs-row>
                        </vs-row>
                    </div>
                    <div class="footer-button">
                        <vs-row vs-justify="center">
                            <vs-button v-on:click="addTag()" block size="medium" type="filled" color="#2376DC">Connexion</vs-button>
                        </vs-row>
                    </div>
                </vs-card>
            </vs-col>
            <vs-col type="flex" vs-justify="space-around" vs-lg="3" vs-sm="6" vs-xs="10">
                <img class="center-img" :src="require('@/assets/work.svg')" alt="RelaxMAX work icon">
                <div class="title">
                    <h2>RelaxMAX - Smart Work</h2>
                </div>
                <p style="text-align: justify">
                    Connectez-vous ou créez un compte afin de de gérer votre entreprise, afficher des statistiques sur la productivité et bien d’autres...
                </p>
                <div class="footer-button">
                    <vs-row vs-justify="space-around">
                        <vs-button block disabled size="medium" type="filled" color="#2376DC">Connexion</vs-button>
                        <vs-button block size="medium" type="filled" color="#2376DC">Inscription</vs-button>
                    </vs-row>
                </div>
            </vs-col>
        </vs-row>
    </div>
</template>

<script>
    import gql from 'graphql-tag'

    export default {
        name: "App",
        components: {},
        data() {
            return {
                username: "",
                password: ""
            };
        },
        methods: {
            addTag() {
                // Call to the graphql mutation
                this.$apollo.mutate({
                    // Query
                    mutation: gql`mutation authLogin($loginInout : LoginInput!) {
          authLogin(loginInout: $loginInout) {
          profile{
          firstName
          }
          }}`, // Parameters
                    variables: {
                        loginInout: {
                            "email": this.username,
                            "password": this.password
                        }
                    },
                })
            }
        },
    }
</script>

<style>
    body {
        margin-top: 50px;
        font-family: 'Comfortaa';
    }
    .center-img {
        padding-top: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .title h1{
        text-align: center;
        color: white;
        padding: 10% 0 10% 0;
    }
    .title h2{
             padding: 10% 0 10% 0;
         }
    h4 {
        text-align: center;
    }
    .footer-button {
        padding-top: 8%;
        padding-bottom: 8%;
    }
    .forget-password {
        padding: 0 !important;
        font-size: 10px;
    }
    .field {
        margin-top: 8% !important;
    }
    .left-bloc {
        background-image: url("assets/shapes.svg");
        background-repeat: no-repeat;
        /*        background: #2376DC; */
    }
    .right-bloc {
        background-image: url("assets/work.svg");
        background-repeat: no-repeat;
        /*        background: #2376DC; */
    }
</style>

